<h1>Testing ngrx-store</h1>
<em>source example: <a href="https://gist.github.com/btroncone/a6e4347326749f938510">https://gist.github.com/btroncone/a6e4347326749f938510</a></em>
<br>
<people-stats
  [invited]="(model$ | async)?.invited"
  [attending]="(model$ | async)?.attending"
  [guests]="(model$ | async)?.guests"></people-stats><br>
Percent attending: {{ percent | async }}%<br>
<party-filter (onFilter)="filterPeople($event)"></party-filter><br>
<person-input (onAddPerson)="addPerson($event)"></person-input>
<person-list
  [people]="(model$ | async)?.people"
  (onAddGuest)="addGuest($event)"
  (onRemoveGuest)="removeGuest($event)"
  (onToggleAttending)="toggleAttending($event)"
  (onRemovePerson)="removePerson($event)">
</person-list>
